body {
    background-color: #EFEFF2;
}

.header {
    padding: 36px 0;
}

.header a, button {
    text-decoration: none;
    font-size: 18px;
}

.header .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__left {
    display: flex;
    align-items: center;
    gap: 68px;
}

.header .header__left .header__logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header .header__left .header__logo a {
    color: #19191C;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
}

.header .header__nav .header__nav__list {
    display: flex;
    gap: 48px;
    align-items: center;
}

.header .header__nav .header__nav__list li a {
    color: #19191C;
    font-weight: 600;
    line-height: 22px;
}

.header .header__buttons {
    display: flex;
    align-items: center;
    gap: 48px;
    color: #19191C;
    font-weight: 600;
}

.header .header__buttons a {
    line-height: 22px;
    color: #19191C;
    font-weight: 600;
}

.header .header__buttons button {
    background-color: #19191C;
    color: #EFEFF2;
    font-weight: 700;
    padding: 12px 37px;
    cursor: pointer;
}

/*main*/

.footer {
    padding-top: 68px;
    background-color: #19191C;
    margin-top: 170px;
}

.footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .footer__nav .footer__nav__contacts li a {
    color: #FBFBFC;
    font-weight: 600;
    text-decoration: none;
}

.footer .footer__nav .footer__nav__contacts li{
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer .footer__nav .footer__nav__contacts li.footer__nav__contacts__logo a {
    font-weight: 800;
}

.footer .footer__nav .footer__nav__contacts li.footer__nav__contacts__mail {
    margin: 43px 0 28px;
}

.footer .footer__sitemap {
    display: flex;
    gap: 200px;
}

.footer .footer__sitemap .footer__sitemap__block {
}

.footer .footer__sitemap .footer__sitemap__block h6 {
    color: #FBFBFC;
    margin-bottom: 28px;
    font-size: 18px;
}

.footer .footer__sitemap .footer__sitemap__block .footer__sitemap__block__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .footer__sitemap .footer__sitemap__block .footer__sitemap__block__list li a {
    color: #EFEFF2;
    text-decoration: none;
}

.footer .footer__bottom {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 100px;
}

.footer .footer__bottom a {
    color: #6D6D77;
    text-decoration: none;
}

.footer .footer__bottom span {
    color: #6D6D77;
}